node_modules
dist
tmp

apps/*/.env
apps/*/compose.temp.yml
apps/*/.compose.temp.yml
apps/*/.compose.tmp.yml

website/tailwind.css
website/apps.json
website/apps
website/github-data.json
website/catalog